{% extends "base.njk" %} {% block title %} 本の追加画面 {% endblock %} {% block
content %}
<h1 class="ml-5 fw-bold mb-10" style="color: orange">本を追加</h1>
<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/ListItem"
  >
    <a itemprop="item" href="/top">
      <span itemprop="name">トップ</span>
    </a>
    <meta itemprop="position" content="1" />
  </li>

  <li
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/ListItem"
  >
    <a itemprop="item" href="/top/books">
      <span itemprop="name">本の一覧</span>
    </a>
    <meta itemprop="position" content="2" />
  </li>

  <li
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/ListItem"
  >
    <a itemprop="item" href="/top/books/add">
      <span itemprop="name">本の追加</span>
    </a>
    <meta itemprop="position" content="3" />
  </li>
</ol>
<div class="pb-2 border-bottom mb-3">
  <form method="post" action="/top/books/add">
    <label for="name" class="fs-3 mb-2 fw-semibold">著書名</label>

    <input id="name" name="name" type0="text" class="form-control" required>
    
    <label for="category" class="fs-3 mb-2 fw-semibold">カテゴリID</label>
    <select class="form-select" id="category" placeholder="項目を選択">
      <option selected>{{category.name}}</option>
      {% for category in categories%}
      <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select>

    <label for="author" class="fs-3 mb-2 fw-semibold">著者名</label>

    <input id="author" name="author" type="text" class="form-control" required>
    
    <label for="isbn" class="form-label">ISBN</label>
    <input id="isbn" name="isbn" type="number" class="form-control" required>
    
    <label for="publisher" class="fs-3 mb-2 fw-semibold">出版社名</label>
    <input id="publisher" name="publisher" type="text" class="form-control" required>
    <div class="mt-2 text-end">
      <input type="submit" class="btn btn-primary" value="本を追加" />
    </div>
  </form>
</div>

<div class="text-end">
  <div style="display: flex; justify-content: flex-end; gap: 10px">
    <a href="/top/books">
      <img
        src="/public/images/Back-Button1.png"
        onMouseOver="this.src='/public/images/Back-Button2.png'"
        onMouseOut="this.src='/public/images/Back-Button1.png'"
        class="rounded float-end"
        width="55"
        height="50"
      />
    </a>
    <a class="btn btn-primary" href="/top/users/add">アカウントを追加する</a>
  </div>
</div>
{% endblock %}
