{% extends "base.njk" %} {% block title %}本の一覧{% endblock %} {% block script
%} {% endblock %} {% block content %}
<h1 class="ml-5 fw-bold mb-10" style="color: orange">一覧表示</h1>
<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/ListItem"
  >
    <a itemprop="item" href="/top">
      <span itemprop="name">トップ</span>
    </a>
    <meta itemprop="position" content="1" />
  </li>

  <li
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/ListItem"
  >
    <a itemprop="item" href="/top/books">
      <span itemprop="name">本の一覧</span>
    </a>
    <meta itemprop="position" content="2" />
  </li>
</ol>
<div class="d-flex justify-content-end mb-3">
  <a href="/top" class="me-2 btn btn-success">トップページへ</a>
  <a href="/top/books/add" class="btn btn-success">本の追加</a>
</div>

<table class="table table-hover">

    {% if posts and posts.length > 0 %}
    <thead>
        <tr>
            <th scope="col" class="col-1"></th>
            <th scope="col" class="col-4">著書名</th>
            <th scope="col" class="col-3">著者名</th>
            <th scope="col" class="col-2">貸出</th>
            <th scope="col" class="col-2">詳細</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ post.name }}</td>
            <td>{{ post.author }}</td>
            <td>{% if post.is_borrowing %} 貸出中 {% else %} 利用可能 {% endif %}</td>
            <td>
                <a href="/top/books/{{ post.id }}" class="btn btn-primary">詳細</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <p class="text-center text-muted">本がありません。</p>
    {% endif %}
</table>
{% endblock %}
