{% extends "base.njk" %}
{% block title %}カテゴリ追加画面{% endblock %}
{% block content %}
<h1>カテゴリを追加</h1>
<div class="pb-2 border-bottom mb-3">
  <form method="post" action="/books/categories">
    <label for="name" name="form-label">カテゴリ名</label>
    <input id="name" name="name" type="text" class="form-control" required>
    <div class="mt-2 text-end">
      <input type="submit" class="btn btn-primary" value="カテゴリを追加">
    </div>
  </form>
</div>
<div class="text-end">
  <div style="display: flex; justify-content: flex-end; gap: 10px;">
    <a href="/books">
      <img src="/public/images/Back-Button1.png" onMouseOver="this.src='/public/images/Back-Button2.png'" onMouseOut="this.src='/public/images/Back-Button1.png'" class="rounded float-end" width="55" height="50"/>
    </a>
    <a class="btn btn-primary" href="/books">カテゴリを追加する</a>
  </div>
</div>
{% endblock %}