{% extends "base.njk" %}
{% block title %}カテゴリ追加画面{% endblock %}
{% block content %}
<h1 class="ml-5 fw-bold mb-10" style="color: orange">カテゴリを追加</h1>
<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/ListItem"
  >
    <a itemprop="item" href="/top">
      <span itemprop="name">トップ</span>
    </a>
    <meta itemprop="position" content="1" />
  </li>

  <li
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/ListItem"
  >
    <a itemprop="item" href="/top/categories">
      <span itemprop="name">カテゴリー一覧</span>
    </a>
    <meta itemprop="position" content="2" />
  </li>

  <li
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/ListItem"
  >
    <a itemprop="item" href="/top/categories/add">
      <span itemprop="name">カテゴリーの追加</span>
    </a>
    <meta itemprop="position" content="3" />
  </li>
</ol>
<div class="pb-2 border-bottom mb-3">
  <form method="post" action="/top/categories">
    <label for="name" name="form-label">カテゴリ名</label>
    <input id="name" name="name" type="text" class="form-control" required>
    <div class="mt-2 text-end">
      <input type="submit" class="btn btn-success" value="カテゴリを追加">
    </div>
  </form>
</div>
<div class="text-end">
  <div style="display: flex; justify-content: flex-end; gap: 10px;">
    <a href="/top/categories">
      <img
        src="/public/images/Back-Button1.png"
        onMouseOver="this.src='/public/images/Back-Button2.png'"
        onMouseOut="this.src='/public/images/Back-Button1.png'"
        class="rounded float-end"
        width="55"
        height="50"
      />
    </a>
    <a class="btn btn-success" href="/top/books">本の追加</a>
  </div>
</div>
{% endblock %}