{% extends "base.njk" %}

{% block title %}本の詳細情報{% endblock %}

{% block content %}
<h1 class="ml-5 fw-bold mb-10" style="color: orange">
  「{{ book.name }}」の詳細情報
</h1>

<div class="ml-4">
  <p class="fs-4"><b>タイトル:</b> {{ book.name }}</p>

  <p class="fs-4"><b>カテゴリ:</b> {{ book.category.name }}</p>

  <p class="fs-4"><b>著者:</b> {{ book.author }}</p>

  <p class="fs-4"><b>ISBN番号:</b> {{ book.isbn }}</p>

  <p class="fs-4"><b>出版社:</b> {{ book.publisher }}</p>

  <p class="fs-4"><b>貸出状況:</b> {% if post.is_borrowing %} 貸出中 {% else %} 利用可能 {% endif %}</p>
</div>

<div style="display: flex; gap: 10px; margin-top: 20px;">
  <a href="/top/books/{{ book.id }}/edit" class="btn btn-outline-warning btn-lg">
    編集
  </a>

  <a href="/top/books" class="btn btn-outline-danger btn-lg">
    一覧
  </a>

  <form class＝"text-right" action="/top/books/{{ book.id }}?_method=DELETE" method="POST" style="display: inline; margin-left: auto">
    <button type="submit" class="btn btn-outline-danger btn-lg">
      削除
    </button>
  </form>
</div>
{% endblock %}

