{% extends "base.njk" %} {% block title %}本の詳細情報{% endblock %} {% block
source %}
<link rel="stylesheet" href="/modal.css" />
<script src="/modal.js" defer></script>
{% endblock %} {% block content %}
<h1 class="ml-5 fw-bold mb-10" style="color: orange">
  「{{ book.name }}」の詳細情報
</h1>
<div style="text-align: right;">
<form
    class="text-right"
    action="/top/books/{{ book.id }}?_method=DELETE"
    method="POST"
    style="display: inline; margin-left: auto"
  >
    <button type="submit" class="btn btn-outline-danger btn-lg">削除</button>
  </form>
</div>
<div class="ml-4">
  <p class="fs-4"><b>著書名:</b> {{ book.name }}</p>

  <p class="fs-4"><b>カテゴリ:</b> {{ book.category.name }}</p>

  <p class="fs-4"><b>著者名:</b> {{ book.author }}</p>

  <p class="fs-4"><b>ISBN番号:</b> {{ book.isbn }}</p>

  <p class="fs-4"><b>出版社:</b> {{ book.publisher }}</p>

  <p class="fs-4">
    <b>貸出状況:</b>
    {% if book.is_borrowing %} 貸出中 ： {{ bollowedUser.grade }} {{
    bollowedUser.name }} {% else %} 利用可能 {% endif %}
  </p>
</div>

<div style="display: flex; gap: 10px; margin-top: 20px">
  <a
    href="/top/books/{{ book.id }}/edit"
    class="btn btn-outline-warning btn-lg"
  >
    編集
  </a>

  <a href="/top/books" class="btn btn-outline-danger btn-lg"> 一覧 </a>

  <form
    action="/top/books/{{ book.id }}?_method=PUT"
    method="POST"
    style="display: inline"
  >
    <button class="btn btn-outline-primary btn-lg" id="modal-show">
      {% if book.is_borrowing %} 貸出を終了 {% else %} 貸出する {% endif %}
    </button>

    <!-- モーダルウィンドウ -->
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-container" id="modal-container">
        <div class="modal-body">
          <div class="modal-content">
            <div class="inn">
              {% if book.is_borrowing %}
              <div class="modal-header">
                <button type="button" class="modal-close" id="modal-close">
                  ×
                </button>
                <h2>貸出を終了</h2>
              </div>
              <div>
                <p>この本の貸し出しを終了しますか？</p>
                <input
                  type="hidden"
                  name="is_borrowing"
                  value="{% if book.is_borrowing %}false{% else %}true{% endif %}"
                />
                <button class="btn btn-outline-primary" id="modal-show">
                  返却する
                </button>
              </div>
              {% else %}
              <div class="modal-header">
                <button type="button" class="modal-close" id="modal-close">
                  ×
                </button>
                <h2>貸出する</h2>
              </div>
              <div>
                <label for="userId" class="fs-3 mb-2 fw-semibold"
                  >借りるユーザー</label
                >
                <select class="form-select" id="userId" name="userId">
                  <option value="" disabled selected>--ユーザーを選択--</option>
                  {% for user in users %}
                  <option value="{{ user.id }}">
                    {{ user.grade }} {{ user.name }}
                  </option>
                  {% endfor %}
                </select>
                <input
                  type="hidden"
                  name="is_borrowing"
                  value="{% if book.is_borrowing %}false{% else %}true{% endif %}"
                />
                <button class="btn btn-outline-primary btn-lg" id="modal-show">
                  借りる
                </button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  
</div>
{% endblock %}
