{%extends "base.njk"%} {%block title%}本の更新ページ{%endblock%} {%block
content%}
<h1 class="ml-5 fw-bold mb-10" style="color: orange">
  「{{book.name}}」の詳細情報
</h1>

<form action="/top/books/{{ book.id }}?_method=PUT" method="POST" class="form-floating ml-4 mb-3">
  
  <div name="book-name">
    <label for="name" class="fs-3 mb-2 fw-semibold">著書名</label>
    <input
      type="text"
      class="form-control"
      name="name"
      id="name"
      value="{{book.name}}"
      required
      style="height: 30px; resize: none; padding: 10px; font-size: 14px"
    />
  </div>
  <div name="book-category">
    <label for="categoryId" class="fs-3 mb-2 fw-semibold">カテゴリID</label>
    <select class="form-select" id="categoryId"  name="categoryId">
      {% for category in categories %}
        <option value="{{ category.id }}" 
        {% if book.category.id == category.id %}selected{% endif %}
        >
          {{ category.name }}
        </option>
      {% endfor %}
    </select>
  </div>

  <div name="book-author">
    <label for="author" class="fs-3 mb-2 fw-semibold">著者名</label>
    <input
      type="text"
      class="form-control"
      id="author"
      name="author"
      placeholder="著者名"
      value="{{book.author}}"
    />
  </div>
  <div name="book-isbn">
    <label for="isbn" class="fs-3 mb-2 fw-semibold">ISBN番号(13桁)</label>
    <input
      type="number"
      class="form-control"
      id="isbn"
      name="isbn"
      placeholder="ISBN番号"
      value="{{book.isbn}}"
      maxlength="13"
      pattern="\d{13}"
    />
  </div>
  <div name="book-publisher">
    <label for="publisher" class="fs-3 mb-2 fw-semibold">出版社</label>
    <input
      type="text"
      class="form-control"
      id="publisher"
      name="publisher"
      placeholder="出版社"
      value="{{book.publisher}}"
    />
  </div>
    <div style="display: flex; justify-content: space-between; margin-top: 20px">
    <button
      type="submit"
      class="btn btn-outline-danger btn-lg"
    >
      更新する
    </button>
</form>
    <button
      type="button"
      class="btn btn-outline-danger btn-lg"
      onclick="cancelUpdate()"
    >
      キャンセル
    </button>
  </div>

{%endblock%}
{% block scripts %}<script src="/javascript.js"></script>{% endblock %}
