{% extends "base.njk" %} {% block title %}アカウント追加画面{% endblock %} {%
block content %}
<h1 claass="ml-5 fw-bold mb-10" style="color: orange">アカウントを追加</h1>
<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/ListItem"
  >
    <a itemprop="item" href="/top">
      <span itemprop="name">トップ</span>
    </a>
    <meta itemprop="position" content="1" />
  </li>

  <li
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/ListItem"
  >
    <a itemprop="item" href="/top/users">
      <span itemprop="name">ユーザー一覧</span>
    </a>
    <meta itemprop="position" content="2" />
  </li>

  <li
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/ListItem"
  >
    <a itemprop="item" href="/top/users/add">
      <span itemprop="name">ユーザー追加</span>
    </a>
    <meta itemprop="position" content="3" />
  </li>
</ol>
<div class="pb-2 border-bottom mb-3">
  <form method="post" action="/top/users">
    <label for="name" name="form-label">アカウント名</label>
    <input id="name" name="name" type="text" class="form-control" required />
    <label for="grade">学年</label>
    <select class="form-select" id="grade" name="grade" required>
      <option value="B3" selected>B3</option>
      <option value="B4">B4</option>
      <option value="M1">M1</option>
      <option value="M2">M2</option>
    </select>
    <div class="mt-2 text-end">
      <input type="submit" class="btn btn-primary" value="アカウントを追加" />
    </div>
  </form>
</div>
{% endblock %}
