{% extends "base.njk" %} {% block title %}アカウント追加画面{% endblock %} {% block content %}
<h1 claass="ml-5 fw-bold mb-10" style="color: orange">アカウントを追加</h1>

<div class="pb-2 border-bottom mb-3">
  <form method="post" action="/top/users">
    <label for="name" name="form-label">アカウント名</label>
    <input id="name" name="name" type="text" class="form-control" required>
    <label for="grade">学年</label>
    <input id="grade" name="grade" type="text" class="form-control" required>
    <div class="mt-2 text-end">
      <input type="submit" class="btn btn-primary" value="アカウントを追加">
    </div>
  </form>
</div>
<div class="text-end">
  <div style="display: flex; justify-content: flex-end; gap: 10px;">
    <a href="/top/users">
      <img src="/public/images/Back-Button1.png" onMouseOver="this.src='/public/images/Back-Button2.png'" onMouseOut="this.src='/public/images/Back-Button1.png'" class="rounded float-end" width="55" height="50"/>
    </a>
    <a class="btn btn-success" href="/top/books/add">本を追加する</a>
  </div>
</div>
{% endblock %}